AUTHORIZATION_ENABLED: SECURITY_AUTHORIZATION_ENABLED
AUTHORIZATION_SUPER_USERS: SECURITY_AUTHORIZATION_SUPER_USERS
AUTHORIZATION_ALLOW_EVERYONE_IF_NO_ACL_FOUND: SECURITY_AUTHORIZATION_ALLOW_EVERYONE_IF_NO_ACL_FOUND
BROKER_COUNT: BROKER_COUNT
BROKER_CPUS: BROKER_CPUS
BROKER_CPUS_LIMIT
BROKER_MEM: BROKER_MEM
# BROKER_MEM_LIMIT: 
# NE_MEM: 
# NE_CPUS: 
# NE_MEM_LIMIT: 
# NE_CPUS_LIMIT: 
BROKER_PORT: BROKER_PORT
BROKER_PORT_TLS: BROKER_PORT_TLS
DISK_SIZE: BROKER_DISK_SIZE
STORAGE_CLASS: 
PERSISTENT_STORAGE: "true"
CLIENT_PORT: "9092"
CLIENT_PORT_ENABLED: "true"
METRICS_PORT: "9094"
KAFKA_NODE_EXPORTER_PORT: "9096"
METRICS_ENABLED: "true"
ADD_SERVICE_MONITOR: "false"
RUN_USER_WORKLOAD: "false"
NUM_PARTITIONS: KAFKA_NUM_PARTITIONS
ZOOKEEPER_URI: "zookeeper-instance-zookeeper-0.zookeeper-instance-hs:2181,zookeeper-instance-zookeeper-1.zookeeper-instance-hs:2181,zookeeper-instance-zookeeper-2.zookeeper-instance-hs:2181"
AUTO_CREATE_TOPICS_ENABLE: KAFKA_AUTO_CREATE_TOPICS_ENABLE
AUTO_LEADER_REBALANCE_ENABLE: KAFKA_AUTO_LEADER_REBALANCE_ENABLE
BACKGROUND_THREADS: KAFKA_BACKGROUND_THREADS
COMPRESSION_TYPE: KAFKA_COMPRESSION_TYPE
DELETE_TOPIC_ENABLE: KAFKA_DELETE_TOPIC_ENABLE
DELETE_RECORDS_PURGATORY_PURGE_INTERVAL_REQUESTS: KAFKA_DELETE_RECORDS_PURGATORY_PURGE_INTERVAL_REQUESTS
# KUDO KAFKA's MirrorMaker does not support TLS and Kerberos setups for Migration. Only PLAINTEXT is supported.
KERBEROS_ENABLED: SECURITY_KERBEROS_ENABLED
KERBEROS_ENABLED_FOR_ZOOKEEPER: SECURITY_KERBEROS_ENABLED_FOR_ZOOKEEPER
KERBEROS_PRIMARY: SECURITY_KERBEROS_PRIMARY
KERBEROS_KEYTAB_SECRET: SECURITY_KERBEROS_KEYTAB_SECRET
KERBEROS_REALM: SECURITY_KERBEROS_REALM
KERBEROS_KDC_HOSTNAME: SECURITY_KERBEROS_KDC_HOSTNAME
KERBEROS_KDC_PORT: "2500"
KERBEROS_USE_TCP:
KERBEROS_DEBUG: SECURITY_KERBEROS_DEBUG
LEADER_IMBALANCE_CHECK_INTERVAL_SECONDS: KAFKA_LEADER_IMBALANCE_CHECK_INTERVAL_SECONDS
LEADER_IMBALANCE_PER_BROKER_PERCENTAGE: KAFKA_LEADER_IMBALANCE_PER_BROKER_PERCENTAGE
LIVENESS_INITIAL_DELAY_SECONDS: "30"
LIVENESS_PERIOD_SECONDS: "30"
LIVENESS_FAILURE_THRESHOLD: "3"
LIVENESS_METHOD: "PORT"
LIVENESS_TOPIC_PREFIX: "KafkaLivenessTopic"
LOG_FLUSH_INTERVAL_MESSAGES: KAFKA_LOG_FLUSH_INTERVAL_MESSAGES
LOG_FLUSH_INTERVAL_MS: KAFKA_LOG_FLUSH_INTERVAL_MS
LOG_FLUSH_OFFSET_CHECKPOINT_INTERVAL_MS: KAFKA_LOG_FLUSH_OFFSET_CHECKPOINT_INTERVAL_MS
LOG_FLUSH_SCHEDULER_INTERVAL_MS: KAFKA_LOG_FLUSH_SCHEDULER_INTERVAL_MS
LOG_FLUSH_START_OFFSET_CHECKPOINT_INTERVAL_MS: KAFKA_LOG_FLUSH_START_OFFSET_CHECKPOINT_INTERVAL_MS
LOG_RETENTION_BYTES: KAFKA_LOG_RETENTION_BYTES
LOG_RETENTION_MS: KAFKA_LOG_RETENTION_MS
LOG_RETENTION_MINUTES: KAFKA_LOG_RETENTION_MINUTES
LOG_RETENTION_HOURS: KAFKA_LOG_RETENTION_HOURS
LOG_ROLL_MS: KAFKA_LOG_ROLL_MS
LOG_ROLL_JITTER_MS: KAFKA_LOG_ROLL_JITTER_MS
LOG_ROLL_HOURS: KAFKA_LOG_ROLL_HOURS
LOG_ROLL_JITTER_HOURS: KAFKA_LOG_ROLL_JITTER_HOURS
LOG_SEGMENT_BYTES: KAFKA_LOG_SEGMENT_BYTES
LOG_SEGMENT_DELETE_DELAY_MS: KAFKA_LOG_SEGMENT_DELETE_DELAY_MS
MESSAGE_MAX_BYTES: KAFKA_MESSAGE_MAX_BYTES
MIN_INSYNC_REPLICAS: KAFKA_MIN_INSYNC_REPLICAS
NUM_IO_THREADS: KAFKA_NUM_IO_THREADS
NUM_NETWORK_THREADS: KAFKA_NUM_NETWORK_THREADS
NUM_RECOVERY_THREADS_PER_DATA_DIR: KAFKA_NUM_RECOVERY_THREADS_PER_DATA_DIR
NUM_REPLICA_FETCHERS: KAFKA_NUM_REPLICA_FETCHERS
OFFSET_METADATA_MAX_BYTES: KAFKA_OFFSET_METADATA_MAX_BYTES
OFFSETS_COMMIT_REQUIRED_ACKS: KAFKA_OFFSETS_COMMIT_REQUIRED_ACKS
OFFSETS_COMMIT_TIMEOUT_MS: KAFKA_OFFSETS_COMMIT_TIMEOUT_MS
OFFSETS_LOAD_BUFFER_SIZE: KAFKA_OFFSETS_LOAD_BUFFER_SIZE
OFFSETS_RETENTION_CHECK_INTERVAL_MS: KAFKA_OFFSETS_RETENTION_CHECK_INTERVAL_MS
OFFSETS_RETENTION_MINUTES: KAFKA_OFFSETS_RETENTION_MINUTES
OFFSETS_TOPIC_COMPRESSION_CODEC: KAFKA_OFFSETS_TOPIC_COMPRESSION_CODEC
OFFSETS_TOPIC_NUM_PARTITIONS: KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS
OFFSETS_TOPIC_REPLICATION_FACTOR: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
OFFSETS_TOPIC_SEGMENT_BYTES: KAFKA_OFFSETS_TOPIC_SEGMENT_BYTES
QUEUED_MAX_REQUESTS: KAFKA_QUEUED_MAX_REQUESTS
QUEUED_MAX_REQUEST_BYTES: KAFKA_QUEUED_MAX_REQUEST_BYTES
QUOTA_CONSUMER_DEFAULT: KAFKA_QUOTA_CONSUMER_DEFAULT
QUOTA_PRODUCER_DEFAULT: KAFKA_QUOTA_PRODUCER_DEFAULT
READINESS_TIMEOUT_SECONDS: READINESS_CHECK_TIMEOUT
REPLICA_FETCH_MAX_BYTES: KAFKA_REPLICA_FETCH_MAX_BYTES
REPLICA_FETCH_MIN_BYTES: KAFKA_REPLICA_FETCH_MIN_BYTES
REPLICA_FETCH_WAIT_MAX_MS: KAFKA_REPLICA_FETCH_WAIT_MAX_MS
REPLICA_FETCH_RESPONSE_MAX_BYTES: KAFKA_REPLICA_FETCH_RESPONSE_MAX_BYTES
REPLICA_HIGH_WATERMARK_CHECKPOINT_INTERVAL_MS: KAFKA_REPLICA_HIGH_WATERMARK_CHECKPOINT_INTERVAL_MS
REPLICA_LAG_TIME_MAX_MS: KAFKA_REPLICA_LAG_TIME_MAX_MS
REPLICA_SOCKET_RECEIVE_BUFFER_BYTES: KAFKA_REPLICA_SOCKET_RECEIVE_BUFFER_BYTES
REPLICA_SOCKET_TIMEOUT_MS: KAFKA_REPLICA_SOCKET_TIMEOUT_MS
REPLICATION_QUOTA_WINDOW_NUM: KAFKA_REPLICATION_QUOTA_WINDOW_NUM
REPLICATION_QUOTA_WINDOW_SIZE_SECONDS: KAFKA_REPLICATION_QUOTA_WINDOW_SIZE_SECONDS
REQUEST_TIMEOUT_MS: KAFKA_REQUEST_TIMEOUT_MS
SOCKET_RECEIVE_BUFFER_BYTES: KAFKA_SOCKET_RECEIVE_BUFFER_BYTES
SOCKET_REQUEST_MAX_BYTES: KAFKA_SOCKET_REQUEST_MAX_BYTES
SOCKET_SEND_BUFFER_BYTES: KAFKA_SOCKET_SEND_BUFFER_BYTES
UNCLEAN_LEADER_ELECTION_ENABLE: KAFKA_UNCLEAN_LEADER_ELECTION_ENABLE
ZOOKEEPER_SESSION_TIMEOUT_MS: KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS
CONNECTIONS_MAX_IDLE_MS: KAFKA_CONNECTIONS_MAX_IDLE_MS
CONTROLLED_SHUTDOWN_ENABLE: KAFKA_CONTROLLED_SHUTDOWN_ENABLE
CONTROLLED_SHUTDOWN_MAX_RETRIES: KAFKA_CONTROLLED_SHUTDOWN_MAX_RETRIES
CONTROLLED_SHUTDOWN_RETRY_BACKOFF_MS: KAFKA_CONTROLLED_SHUTDOWN_RETRY_BACKOFF_MS
CONTROLLER_SOCKET_TIMEOUT_MS: KAFKA_CONTROLLER_SOCKET_TIMEOUT_MS
DEFAULT_REPLICATION_FACTOR: KAFKA_DEFAULT_REPLICATION_FACTOR
# EXTERNAL_ADVERTISED_LISTENER
# EXTERNAL_ADVERTISED_LISTENER_PORT
# EXTERNAL_ADVERTISED_LISTENER_TYPE
# EXTERNAL_NODE_PORT
# EXTERNAL_NODEPORT_IP_TYPE
#EXTERNAL_SERVICE_ANNOTATIONS
FETCH_PURGATORY_PURGE_INTERVAL_REQUESTS: KAFKA_FETCH_PURGATORY_PURGE_INTERVAL_REQUESTS
GROUP_MAX_SESSION_TIMEOUT_MS: KAFKA_GROUP_MAX_SESSION_TIMEOUT_MS
GROUP_MIN_SESSION_TIMEOUT_MS: KAFKA_GROUP_MIN_SESSION_TIMEOUT_MS
GROUP_INITIAL_REBALANCE_DELAY_MS: KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS
INTER_BROKER_PROTOCOL_VERSION: KAFKA_INTER_BROKER_PROTOCOL_VERSION
LOG_MESSAGE_FORMAT_VERSION: KAFKA_LOG_MESSAGE_FORMAT_VERSION
LOG_CLEANER_BACKOFF_MS: KAFKA_LOG_CLEANER_BACKOFF_MS
LOG_CLEANER_DEDUPE_BUFFER_SIZE: KAFKA_LOG_CLEANER_DEDUPE_BUFFER_SIZE
LOG_CLEANER_DELETE_RETENTION_MS: KAFKA_LOG_CLEANER_DELETE_RETENTION_MS
LOG_CLEANER_ENABLE: KAFKA_LOG_CLEANER_ENABLE
LOG_CLEANER_IO_BUFFER_LOAD_FACTOR: KAFKA_LOG_CLEANER_IO_BUFFER_LOAD_FACTOR
LOG_CLEANER_IO_BUFFER_SIZE: KAFKA_LOG_CLEANER_IO_BUFFER_SIZE
LOG_CLEANER_IO_MAX_BYTES_PER_SECOND: KAFKA_LOG_CLEANER_IO_MAX_BYTES_PER_SECOND
LOG_CLEANER_MIN_CLEANABLE_RATIO: KAFKA_LOG_CLEANER_MIN_CLEANABLE_RATIO
LOG_CLEANER_MIN_COMPACTION_LAG_MS: KAFKA_LOG_CLEANER_MIN_COMPACTION_LAG_MS
LOG_CLEANER_THREADS: KAFKA_LOG_CLEANER_THREADS
LOG_CLEANUP_POLICY: KAFKA_LOG_CLEANUP_POLICY
LOG_INDEX_INTERVAL_BYTES: KAFKA_LOG_INDEX_INTERVAL_BYTES
LOG_INDEX_SIZE_MAX_BYTES: KAFKA_LOG_INDEX_SIZE_MAX_BYTES
LOG_PREALLOCATE: KAFKA_LOG_PREALLOCATE
LOG_RETENTION_CHECK_INTERVAL_MS: KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS
MAX_CONNECTIONS_PER_IP: KAFKA_MAX_CONNECTIONS_PER_IP
MAX_CONNECTIONS_PER_IP_OVERRIDES: KAFKA_MAX_CONNECTIONS_PER_IP_OVERRIDES
MAX_INCREMENTAL_FETCH_SESSION_CACHE_SLOTS: KAFKA_MAX_INCREMENTAL_FETCH_SESSION_CACHE_SLOTS
PRODUCER_PURGATORY_PURGE_INTERVAL_REQUESTS: KAFKA_PRODUCER_PURGATORY_PURGE_INTERVAL_REQUESTS
REPLICA_FETCH_BACKOFF_MS: KAFKA_REPLICA_FETCH_BACKOFF_MS
RESERVED_BROKER_MAX_ID: KAFKA_RESERVED_BROKER_MAX_ID
METRIC_REPORTERS: METRIC_REPORTERS
METRICS_NUM_SAMPLES: KAFKA_METRICS_NUM_SAMPLES
METRICS_SAMPLE_WINDOW_MS: KAFKA_METRICS_SAMPLE_WINDOW_MS
QUOTA_WINDOW_NUM: KAFKA_QUOTA_WINDOW_NUM
QUOTA_WINDOW_SIZE_SECONDS: KAFKA_QUOTA_WINDOW_SIZE_SECONDS
TRANSACTION_STATE_LOG_SEGMENT_BYTES: KAFKA_TRANSACTION_STATE_LOG_SEGMENT_BYTES
TRANSACTION_REMOVE_EXPIRED_TRANSACTION_CLEANUP_INTERVAL_MS: KAFKA_TRANSACTION_REMOVE_EXPIRED_TRANSACTION_CLEANUP_INTERVAL_MS
TRANSACTION_MAX_TIMEOUT_MS: KAFKA_TRANSACTION_MAX_TIMEOUT_MS
TRANSACTION_STATE_LOG_NUM_PARTITIONS: KAFKA_TRANSACTION_STATE_LOG_NUM_PARTITIONS
TRANSACTION_ABORT_TIMED_OUT_TRANSACTION_CLEANUP_INTERVAL_MS: KAFKA_TRANSACTION_ABORT_TIMED_OUT_TRANSACTION_CLEANUP_INTERVAL_MS
TRANSACTION_STATE_LOG_LOAD_BUFFER_SIZE: KAFKA_TRANSACTION_STATE_LOG_LOAD_BUFFER_SIZE
TRANSACTION_STATE_LOG_REPLICATION_FACTOR: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
TRANSACTION_STATE_LOG_MIN_ISR: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
TRANSACTIONAL_ID_EXPIRATION_MS: KAFKA_TRANSACTIONAL_ID_EXPIRATION_MS
ZOOKEEPER_SYNC_TIME_MS: KAFKA_ZOOKEEPER_SYNC_TIME_MS
TRANSPORT_ENCRYPTION_ENABLED: SECURITY_TRANSPORT_ENCRYPTION_ENABLED
TRANSPORT_ENCRYPTION_CIPHERS: SECURITY_TRANSPORT_ENCRYPTION_CIPHERS
TRANSPORT_ENCRYPTION_ALLOW_PLAINTEXT: SECURITY_TRANSPORT_ENCRYPTION_ALLOW_PLAINTEXT
SSL_AUTHENTICATION_ENABLED: SECURITY_SSL_AUTHENTICATION_ENABLED
#TLS_SECRET_NAME
#USE_AUTO_TLS_CERTIFICATE: 
#CUSTOM_SERVER_PROPERTIES_CM_NAME
#CUSTOM_METRICS_CM_NAME
