# KUDO KAFKA's MirrorMaker does not support TLS and Kerberos setups for Migration. Only PLAINTEXT is supported.
# BROKER_MEM_LIMIT: 
# NE_MEM: 
# NE_CPUS: 
# NE_MEM_LIMIT: 
# NE_CPUS_LIMIT: 
# EXTERNAL_ADVERTISED_LISTENER
# EXTERNAL_ADVERTISED_LISTENER_PORT
# EXTERNAL_ADVERTISED_LISTENER_TYPE
# EXTERNAL_NODE_PORT
# EXTERNAL_NODEPORT_IP_TYPE
# EXTERNAL_SERVICE_ANNOTATIONS
# TLS_SECRET_NAME
# USE_AUTO_TLS_CERTIFICATE: 
# CUSTOM_SERVER_PROPERTIES_CM_NAME
# CUSTOM_METRICS_CM_NAME